<h1>Create List</h1>
<form action="<%= create_list_path %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>
    List Name
    <input type="text" name="list_name">
  </label>
  <button>Save</button>
</form>
